@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
html{
    color: white;
}
a {
    text-decoration: none;
    color: var(--color-secundario);
}
body{
    background: var(--color-ternario)

}
h2, p{
    color: var(--color-secundario);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


.container {
    max-width: var(--desktop);
    margin: 0 auto;
    background-color:var(--color-sexto) ;
}

.header {
    max-width: var(--desktop);
    margin: 0 auto;
    padding-block: 1em;
}

.iconos__header{
display: none;
}

.nav__header{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 0.4em;
}

.header_nav_title{
    padding: 0.4rem;

}

.header_nav_title:hover{
    background-color: var(--color-primario);
    
}

.producto{
    display: flex;
    margin-bottom: 1rem;
    gap: 1em;
}
.container_product_img_vista{
    width: 20%;
    height: 100%;
    background: var(--color-sexto);

}
.producto_img_main{
    width: 60%;
    background: var(--color-primario);
   
}

.container_texto_producto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 1rem auto;

}

.titulo_producto{
    font-size: 1.5rem;
}

.descripciom_producto{
    line-height: 1.5;

}
span .precio_producto :first-child{
color: red;
}

.btn__producto{
    background-color: var(--color-primario);
    width: max-content;
    display: block;
    padding: 0.5rem;
    margin-bottom: 2rem;

}

.contain__seleccion{
    position: absolute;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;

}

.seleccion {
    width: 400px;
    background-color: var(--color-quinto);
    padding: 2em;
    height: fit-content;
}

.img_seleccion{
    position: relative;
}

.close {
    position: absolute;

}

.agregar__producto{
    display: flex;
    justify-content: space-between;

}
.container__carrito h2 {
color: #333;

}
.container__carrito span {
    color: #333;
    
    }

.carrito_producto__ppal{
    width: 500px;
    background-color: var(--color-secundario);
    height: fit-content;
    position: relative;
}
.car__productos div{
    display: flex;
    gap: 1rem;


}
.car_producto_img{
    width: 100px;
    height: 100px;
}
.carrito_prod_con_texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.car_producto_cantidad{
    display: flex;
    gap: 2em;
}